<div class="consultation-item">
  <div class="consultion-text">
    <i class="fa fa-qq"></i>
    <p>客服</p>
    <div class="consultion-content">
      <p><a href="#"><i class="iconfont">&#xe600;</i><span>售前咨询1</span></a></p>
      <p><a href="#"><i class="iconfont">&#xe600;</i><span>售前咨询2</span></a></p>
      <p><a href="#"><i class="iconfont">&#xe600;</i><span>招商加盟</span></a></p>
    </div>
  </div>
  <div class="consultion-text">
    <i class="fa fa-phone"></i>
    <p>热线</p>
    <div class="consultion-content">
      <p>热线</p>
      <p>4006-066-068</p>
      <p>服务时间</p>
      <p>08:40 - 22:30</p>
      <p>(周一至周日)</p>
    </div>
  </div>
  <div class="consultion-text">
    <i class="iconfont">&#xe601;</i>
    <p>服务号</p>
    <div class="consultion-content">
      <img src="">
    </div>
  </div>
  <div class="consultion-top" style="display: none;">
    <i class="icon-jiazaizhong3"></i>
    <p>顶部</p>
  </div>
</div>
